html, 
body {
  box-sizing: border-box;
    color: #fcfcfc;
    font-family: Consolas, Monaco, 'Ubuntu Mono', monospace;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.parent {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
    height: 100%;
}


.section .box {
    padding: 1rem;
}

.section {
  line-height: 1;
}

.blue {
    background-color: #157bad;
}

.green {
    background-color: #3cc368;
}